html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #767883;
}

.mainDiv{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 50%;
  width: 50%;
  position: relative;
  left: 0px;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
  left: 50px;
  bottom: 350px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.viewDiv {
  width: 600px;
  height: 400px;
  position: relative;
  left: 990px;
  top: 15px;
}

.tomDivPats {
  width: 600px;
  height: 400px;
  position: relative;
  left: 150px;
  top: 15px;
}

.textDiv {
  width: 90%;
  height: 36%;
  color: white;
  text-align: justify;
  position: relative;
  left: 50px;
  bottom: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
